version: '3.9'
services:
  account:
    build: ./account
    container_name: ecomm-account
    ports:
      - 3001:3001
    # depends_on:
    #   - mongodb
  product:
    build: ./product
    container_name: ecomm-product
    ports:
      - 3002:3002
    # depends_on:
    #   - mongodb
  mongodb:
    image: mongo:5.0
    container_name: mongo-ecomm
    restart: always
    volumes:
      - db-mongo-ecomm:/data/db
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secret
  mysql:
    image: mysql
    container_name: mysql-ecomm
    restart: always
    volumes:
      - db-mysql-ecomm:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: secret

volumes:
  db-mongo-ecomm:
  db-mysql-ecomm:
